<!DOCTYPE html>
<html>
<title>About Us</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
</style>
<body style="background-image: url(../../assets/images/texture.png)">

        <div id="container" style="width: 70%; height: 20%; margin-left: 12%">
                <img src="../../assets/images/main.PNG" alt="" />
            </div>

<div class="w3-container w3-content w3-center " style="max-width:800px" id="band">
    <h2 class="w3-wide">DTC TECH TALK</h2>
    <p class="w3-opacity"><i>We love sharing knowledge</i></p>
    <p class="w3-justify">We have created this DTC Tech Talk platform to welcome anybody, anytime from the campus of Delhi Technical Campus, to come and share their knowledge. Share your knowledge about technology, computer language, computer concept, latest trends anything you wish to.
        All you need is update about your tech talk topic. And we will make sure that it reaches out to every memeber of the DTC family and they can come and attend it. DTC Tech Talk helps to share your knowledge with your batchmates, juniors, seniors and even the faculty members. 
        Tech talks are short presentations with community question and answer sessions. They are usually under an hour in length and focus on a specific technical topic.
        Come Lets Talk!
    </p>
 </div>